<% if current_user.is_publisher? %>
  <div class=event-list>
    <h2> Your Activity </h2>
      <% @events.each do |event| %>
        <li><%= event.name%> </li>

      <% end %>
  </div>
<% end %>



<script type="text/javascript">
  $(function() {
    buildConnection();


  });


  function buildConnection(){
    App.web_notifications = App.cable.subscriptions.create("WebNotifficationsChannel", {
      // Called when the subscription has been terminated by the server
      connected(){
        return console.log('connected');
      },

      disconnected() {
        return console.log('disconnected');
      },

      received(data) {
        // Called when there's incoming data on the websocket for this channel
        return console.log('received');
      }
    });
  }
</script>
